@model IEnumerable<DataPresentation>

@{
	Layout = "_Layout1";
	ViewBag.Title = "Data Presentation";
}





        <h4 class="mt-5 text-center">All Device Data</h4>
        <hr class="border border-success border-2"/>
        <br />
        <table class="table table-striped table-success">
          <thead>
            <tr>
            
               <th>Id</th>
              <th>device ID</th>
              <th>Location</th>
              <th>Date</th>        
              <th>verified</th>
            </tr>
          </thead>
          <tbody>
              @foreach(var data in Model)
              {
                    <tr>
                        
                        <td>@data.Id</td>
                        <td>@data.DeviceId</td>
                        <td>@data.Location</td>
                        <td>@data.date</td>                      
                        <td>@data.Verify</td>
                    </tr>
              }
          </tbody>
        </table>
