@model IEnumerable<DataPresentation>

@{
    ViewBag.title = "UnVerified Device";
    Layout = "_Layout1";
}


<div class="row mt-5">
    <div class="col-md-10 col-sm-6 text-center h3">
        Unverified Device
    </div>
    <div class="col-md-2 col-sm-6 text-center">

        <form method="post" asp-action="GetUnVerifiedDevicePDF" asp-controller="DataPresentation">
            <input type="submit" value="Generate PDF" />
        </form>

    </div>
</div>
<hr class="border border-success border-2" />
<br />
<table class="table table-striped table-success">
    <thead>
        <tr>
    
            <th>device ID</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>verified</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
              
                <td>@data.DeviceId</td>
                <td>@data.Location</td>
                <td>@data.date</td>
                <td>@data.Time</td>
                <td>@data.Verify</td>
            </tr>
        }
    </tbody>
</table>
