@model List<DataPresentation>

@{
	ViewBag.title = "Verified Device";
	Layout = "_Layout1";
}

<h4 class="mt-5">Verified Device</h4>
        <hr class="border border-success border-2"/>
        <br />
        <table class="table table-striped table-success">
          <thead>
            <tr>
              <th>id</th>
              <th>device ID</th>
              <th>Location</th>
              <th>Data</th>
              <th>Status</th>
              <th>Date</th>
              <th>Time</th>
              <th>verified</th>
            </tr>
          </thead>
          <tbody>
              @foreach(var data in Model)
              {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.DeviceId</td>
                        <td>@data.Location</td>
                        <td>@data.Data</td>
                        <td>@data.Status</td>
                        <td>@data.date</td>
                        <td>@data.Time</td>
                        <td>@data.Verify</td>
                    </tr>
              }
          </tbody>
        </table>
